#contact{
    text-align: center;
    margin-top: 3%;
    padding-bottom: 2%;
    border-bottom: 2px dotted black;
}
#info{
    padding-left: 5%;
    margin-top: 2%;
    border-bottom: 2px dotted black;
    padding-bottom: 2%;
}
#contact-info{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;

}